@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Work+Sans:wght@300;400;500&display=swap');

/* General styles (reset) and variables */

* {
    padding: 0;
    margin: 0;
}

:root {
    --clr-primary: #5A61ED;
    --clr-secondary: #FFFFFF;
    --clr-bg: #F4F5FC;
    --clr-black: #000000;
    --clr-input-text: #111111;
    --clr-label: #7C7C7C;
    --clr-bg-img: #F9FAFF;
    --clr-input-box: #F2F2F2;
    --clr-invalid-input-text: #FF2222;
    --clr-invalid-input-box: #FF2828;
}

html {
    height: 100%
}

/* Container styles */

body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--clr-bg);
}

.cntnr {
    display: flex;
}

/* Header styles */

header {
    flex: 2.65;
    background-color: var(--clr-primary);
    position: relative;
}

h1 {
    color: var(--clr-secondary);
    transform: rotate(180deg);
    writing-mode: vertical-lr;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 3.0625rem;
    line-height: normal;
    letter-spacing: 0.5px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 1.37375rem 0.35625rem;
}

/* Main section styles */

main {
    flex: 9.45;
    background-color: var(--clr-secondary);
    padding: 2.4075rem 1.375rem 2.03rem 1.3rem;
    position: relative;
    display: flex;
    flex-direction: column;
}

/* Main header styles */

h2 {
    color: var(--clr-input-text);
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    font-size: 1.375rem;
    letter-spacing: -0.46px;
}

h3 {
    color: var(--clr-input-text);
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    margin-bottom: 1.25rem;
    letter-spacing: -0.32px;
}

/* Form styles */

form {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem 0.8125rem;
}

/* Styling input containers */

.form-item {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-bottom: 6px;
    border-bottom: var(--clr-input-box) solid 0.7px;
    box-sizing: border-box;
}

.form-item-radio {
    border: none;
}

/* Label and input styles */

label,
.legend {
    color: var(--clr-label);
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    font-size: 0.75rem;
    line-height: normal;
}

input {
    outline: none;
    border: none;
    background: transparent;
}

/* input:focus-visible {
    outline: var(--clr-primary) auto 1px;
} */

#password,
#confirm-password {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    letter-spacing: 1px;
}

input,
.gender {
    color: var(--clr-input-text);
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: normal;
    font-style: normal;
}

/* Styling select element */

.date-select {
    display: flex;
    gap: 9.8px;
}

#day,
#month,
#year {
    flex-grow: 1;
}

select {
    border: none;
    background: transparent;
}

select:focus-visible {
    outline: var(--clr-primary) auto 0.3px;
}

option {
    color: var(--clr-input-text);
}

/* Radio button styles */

.gender-radio-buttons {
    display: flex;
    gap: 19px;
}

.gender-radio {
    gap: 6px;
}

input[type="radio"] {
    accent-color: var(--clr-primary);
    border: var(--clr-primary) solid 0.5px;
    padding: 2px;
    width: 12px;
    height: 12px;
}

/* Login paragraph and button styles */

.account-and-button {
    display: flex;
    justify-content: space-between;
}

.account {
    color: var(--clr-black);
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    font-size: 0.8125rem;
    margin-bottom: 0.6875rem;
    align-self: flex-end;
}

button {
    color: var(--clr-secondary);
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: normal;

    background-color: var(--clr-primary);
    border: 0.5px solid var(--clr-secondary);
    padding: 7px 26px 7px 25px;
}

/* SVG */

h2,
h3,
form {
    z-index: 1;
}

#profile-svg {
    position: absolute;
    bottom: 0;
    right: 0;
}

/* Success popup styles */

.popup {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    position: relative;
}

.h2-success {
    margin-left: 2.6875rem;
    margin-bottom: 0.6875rem;
}

.h3-success {
    margin-left: 2.6875rem;
    margin-bottom: 0;
}

.account-success {
    position: absolute;
    bottom: 0;
    left: 0;
}

/* Media queries */

@media (min-width: 700px) {
    .cntnr {
        min-width: 83.125%;
        min-height: 80%;
    }
}

@media (max-width: 699px) {
    .cntnr {
        width: 100%;
        height: 100%;
    }

    header {
        flex-grow: 1;
    }

    main {
        padding: 1rem;
    }
}

@media (max-width: 600px) {
    .cntnr {
        flex-direction: column;
    }

    header {
        flex-grow: 0;
        padding: 0.5rem 1.5rem;
    }

    h1 {
        transform: rotate(0deg);
        writing-mode: horizontal-tb;
        position: static;
        margin: 0;
    }

    main {
        padding: 1rem 1.5rem;
    }

    .form-items {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
    }
}

@media (min-width: 801px) and (max-aspect-ratio: 2/1) {
    header {
        flex: 1.5;
    }

    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2.5rem;
        margin-bottom: 0.5rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    label,
    label.gender,
    .legend,
    input,
    select,
    #password,
    #confirm-password,
    .account,
    button {
        font-size: 1.2rem;
    }

    .form-items {
        gap: 1.5rem 1rem;
    }
}

@media (orientation: portrait) {
    .cntnr {
        width: 100%;
        height: 100%;
        flex-direction: column;
    }

    header {
        flex-grow: 0;
        padding: 0.5rem 1.5rem;
    }

    h1 {
        transform: rotate(0deg);
        writing-mode: horizontal-tb;
        position: static;
        margin: 0;
    }
}