/* Form validation styles */

input:-internal-autofill-selected {
    background: transparent;
    color: var(--clr-input-text);
}

.validation-container {
    display: flex;
    justify-content: space-between;
    color: var(--clr-input-text);
    background: transparent;
}

.error {
    border-bottom: var(--clr-invalid-input-box) solid 2px;
    padding-bottom: 5.3px;
}

.error-text {
    color: var(--clr-invalid-input-text);
}

input:valid+span {
    height: 8px;
}

input:valid+span::before {
    content: url(./images/check.svg);
}

/* Form animations */

/* Input animation */

.form-item {
    opacity: 0;
}

.form-item:nth-child(1) {
    animation: 1s appear forwards 0.25s normal 1 ease-in-out;
}

.form-item:nth-child(2) {
    animation: 1s appear forwards 0.5s normal 1 ease-in-out;
}

.form-item:nth-child(3) {
    animation: 1s appear forwards 0.75s normal 1 ease-in-out;
}

.form-item:nth-child(4) {
    animation: 1s appear forwards 1s normal 1 ease-in-out;
}

.form-item:nth-child(5) {
    animation: 1s appear forwards 1.25s normal 1 ease-in-out;
}

.form-item:nth-child(6) {
    animation: 1s appear forwards 1.5s normal 1 ease-in-out;
}

.form-item:nth-child(7) {
    animation: 1s appear forwards 1.75s normal 1 ease-in-out;
}

.form-item:nth-child(8) {
    animation: 1s appear forwards 2s normal 1 ease-in-out;
}

@keyframes appear {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Button animation */

.shake {
    animation: 0.5s shake 1 ease-in-out;
}

@keyframes shake {
    25% {
        transform: translateX(5px);
    }

    50% {
        transform: translateX(-5px);
    }

    75% {
        transform: translateX(5px);
    }

    100% {
        transform: translateX(0px);
    }
}